{% extends 'base.html.twig' %}

{% block title %}Hello{% endblock %}

{% block body %}
	<main id="main">
		<h1>Bienvenue au GeePs</h1>

		<div id="container_btn_back">
		</div>
		<div id="container_all">
			<div class="container">
				{% for activity in activities %}
					<div class="link" id="item" onclick="load({{ activity.id }},0)">
						<div class="item vertical_align" style="background: linear-gradient(to top,{{ activity.color }} 0%,#ffffff 100%);">
							<div>
								<h2>{{ activity.label }}</h2>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</main>

	{% include 'Modals/modal_reservation.html.twig' %}
	{% include 'Modals/modal_search.html.twig' %}

{% endblock %}

{% block scripts %}
	<script src="{{ asset('js/function.js') }}"></script>
	<script>
		var cpt = 1;
		var old_select = -1;

		$( "#name_search" ).keyup(function() {
			search()
		});

		{#
			$( document ).ready(function() {

			function autocomplete(inp, arr) {
				var currentFocus;
				inp.addEventListener("input", function (e) {
					var a, b, i, val = this.value;
					closeAllLists();
					if (!val) {
						return false;
					}
					currentFocus = -1;
					a = document.createElement("DIV");
					a.setAttribute("id", this.id + "autocomplete-list");
					a.setAttribute("class", "autocomplete-items");
					this.parentNode.appendChild(a);
					for (i = 0; i < arr.length; i++) {
						if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
							b = document.createElement("DIV");
							b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
							b.innerHTML += arr[i].substr(val.length);
							b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
							b.addEventListener("click", function (e) {
								inp.value = this.getElementsByTagName("input")[0].value;
								closeAllLists();
							});
							a.appendChild(b);
						}
					}
				});
				inp.addEventListener("keydown", function (e) {
					var x = document.getElementById(this.id + "autocomplete-list");
					if (x) x = x.getElementsByTagName("div");
					if (e.keyCode == 40) {
						currentFocus++;
						addActive(x);
					} else if (e.keyCode == 38) {
						currentFocus--;
						addActive(x);
					} else if (e.keyCode == 13) {
						e.preventDefault();
						if (currentFocus > -1) {
							if (x) x[currentFocus].click();
						}
					}
				});

				function addActive(x) {
					if (!x) return false;
					removeActive(x);
					if (currentFocus >= x.length) currentFocus = 0;
					if (currentFocus < 0) currentFocus = (x.length - 1);
					x[currentFocus].classList.add("autocomplete-active");
				}

				function removeActive(x) {
					for (var i = 0; i < x.length; i++) {
						x[i].classList.remove("autocomplete-active");
					}
				}

				function closeAllLists(elmnt) {
					var x = document.getElementsByClassName("autocomplete-items");
					for (var i = 0; i < x.length; i++) {
						if (elmnt != x[i] && elmnt != inp) {
							x[i].parentNode.removeChild(x[i]);
						}
					}
				}

				document.addEventListener("click", function (e) {
					closeAllLists(e.target);
				});
			}

			var cities = {{ cities2|json_encode|raw }};
			autocomplete(document.getElementById("myInput"), cities);


			var type = $('#type').val();
			var contrat = $('#contrat').val();
			var city = $('#myInput').val();

			var json = {
				'city': city,
				'contrat': contrat,
				'type': type
			};

			console.log(city);
			var path = "{{ path('front_search_property')|escape('js') }}";

			$.post(path, json, function (retour) {
				$('#container_all_front_property').html(JSON.parse(retour));
				console.log(JSON.parse(retour));
			});
		});
		#}

	</script>
{% endblock %}
