{% if function == "display" %}
    <div class="container result" id="item{{ cpt }}">
{% endif %}

{% for user in users %}
    <div class="item_user" onclick="{{ function }}({{ user.id }})">
        <img src="{{ asset('img/avatar.png') }}" alt="Photo de profil">
        <div class="information">
            <p><span class="bold"> Nom</span> : {{ user.lastname }}</p>
            <P><span class="bold">Prénom</span> : {{ user.firstname }}</P>
        </div>
    </div>
{% endfor %}
{% if function == "display" %}
    </div>
{% endif %}