{% extends 'base.html.twig' %}

{% block title %}Annuaire{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenue sur l'annuaire {{ app.user.username }}</h1>
    <table class="table-annuaire">
      <tr>
        <thead>
          <th>
            Nom
          </th>
          <th>
            Prénom
          </th>
          <th>
            Mail
          </th>
          <th>
            Tél. fixe
          </th>
          <th>
            Bureau
          </th>
          <th>
            Bâtiment
          </th>
          <th>
            Tutelle
          </th>
          <th>
            Actions
          </th>
        </thead>
      </tr>
    {% for user in users %}
      <tr>
        <td>
          {{ user.lastname }}
        </td>
        <td>
          {{ user.firstname }}
        </td>
        <td>
          {{ user.mail }}
        </td>
        <td>
          {{ user.homephone }}
        </td>
        <td>
          {{ user.office }}
        </td>
        <td>
          {{ user.building }}
        </td>
        <td>
          {{ user.tutelle }}
        </td>
        <td>
          <span class="do-not-wrap">
            <!-- TODO : Ajouter leur action -->
            <button class="button-view"><img src="{{ asset('img/view-26.png') }}" alt="Voir"></button>
            <button class="button-edit"><img src="{{ asset('img/edit-26.png') }}" alt="Modifier"></button>
            <button class="button-delete"><img src="{{ asset('img/delete-26.png') }}" alt="Supprimer"></button>
          </span>
        </td>
      </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}
